<div class="main-container">
  <div class="profile-picture-container">
    <img [src]="profilePicture.src" alt="Foto Perfil" />
  </div>

  <div class="horizontal-divider"></div>

  <div class="signature-info-container">
    <div class="top-info">
      <div class="top-container">
        <div class="name-container">
          <span class="name">{{profileInfo.name}}</span>
        </div>

        <div class="social-container">
          <div class="social-inner-container">
              <a href="https://www.facebook.com/neomindsocial" target="_blank"> 
                <img alt="Facebook Neomind" height="29" src="http://www.neomind.com.br/fusion/assinatura/2016/facebook.png" title="Facebook Neomind"> 
              </a>
    
              <a href="https://twitter.com/NeomindSocial" target="_blank"> 
                <img alt="Twitter Neomind" height="29" src="http://www.neomind.com.br/fusion/assinatura/2016/twitter.png" title="Twitter Neomind"> 
              </a>
    
              <a href="https://www.linkedin.com/company/neomind" target="_blank"> 
                <img alt="Linkedin Neomind" height="29" src="http://www.neomind.com.br/fusion/assinatura/2016/linkedin.png" title="Linkedin Neomind"> 
              </a>
    
              <a href="http://www.neomind.com.br/blog" target="_blank"> 
                <img alt="RSS Neomind" height="29" src="http://www.neomind.com.br/fusion/assinatura/2016/rss.png" title="RSS Neomind"> 
              </a>
          </div>
        </div>
      </div>

      <div class="bottom-container">
        <div class="role-container">
          <span class="role">{{profileInfo.role}}</span>
        </div>
      </div>
    </div>
  </div>
</div>